@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --color-primario: #1A3636;
    --color-secundario: #40534C;
    --color-terciario: #677D6A;
    --fuente1: "Montserrat", sans-serif;
    --fuente2: "Krona One", sans-serif;

}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 6%;

}

.menu{
    display: flex;
    gap: 80px;
}

.opcion{
    font-family: var(--fuente1);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;

}


.presentacion{
    display: flex;
    align-items: center;
    padding: 6% ;
    justify-content: space-between;
    gap: 82px;
}

.presentacion-contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo{
    font-size: 2.25rem;
    font-family: var(--fuente2);
}

.titulo-destaque{
    color: var(--color-terciario)

}

.subtitulo{
    font-family: var(--fuente2);
    font-size: 1.5rem;
    font-weight: 400;

}

.parrafo{
    font-size: 1.5rem;
    font-family: var(--fuente1);
}

.botones{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.boton{

    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente1);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.boton:hover{
    background-color: #272727;
}

.presentacion__imagen{
    width: 50%;
}
.footer{
    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente1);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px ){

    .header{
        padding: 10%;
    }

    .menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion-contenido{
        width: auto;
    }
}